{{!-- 
<!-- Footer -->
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <!-- Quick Links -->
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Home</a></li>
                    <li><a href="#" class="text-white">About</a></li>
                    <li><a href="#" class="text-white">Services</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                </ul>
            </div>
            
            <!-- Contact Information -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>123 Street Name<br>
                City, State, 12345<br>
                Phone: (123) 456-7890<br>
                Email: info@example.com</p>
            </div>
            
            <!-- Social Media -->
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="text-white mr-3"><img src="https://via.placeholder.com/24" alt="Facebook"></a>
                <a href="#" class="text-white mr-3"><img src="https://via.placeholder.com/24" alt="Twitter"></a>
                <a href="#" class="text-white mr-3"><img src="https://via.placeholder.com/24" alt="Instagram"></a>
                <a href="#" class="text-white"><img src="https://via.placeholder.com/24" alt="LinkedIn"></a>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 My Website. All Rights Reserved.</p>
        </div>
    </div>
</footer> --}}
