<!-- Header -->

<header class="bg-primary text-white py-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Logo and Site Title -->
            <div class="d-flex align-items-center">
                <img src="https://via.placeholder.com/50" alt="Logo" class="mr-3">
                <h1 class="h4 mb-0">My Website</h1>
            </div>

            <!-- Search Bar -->
            <form class="form-inline d-none d-md-flex mx-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="d-flex align-items-center">
                <nav class="d-none d-md-block">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Products">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
                    {{#if user}}
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle ml-3" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Chào, {{user.username}}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="/user/profile">Hồ sơ</a></li>
                        <li><a class="dropdown-item" href="/settings">Cài đặt</a></li>
                        <li><a class="dropdown-item" href="/user/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            {{else}}
                <a href="/login"><button class="btn btn-outline-light ml-3">Login</button></a>
            {{/if}}
                    </div>

            <!-- Mobile Navbar Toggle -->
            <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<!-- Collapsible Mobile Navbar -->
<nav class="collapse navbar-collapse bg-primary d-md-none" id="navbarMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact</a>
        </li>
        <li class="nav-item">
            <form class="form-inline mt-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </li>
        <li class="nav-item mt-3">
            <button class="btn btn-outline-light w-100">Login</button>
        </li>
    </ul>
</nav>