<main class="container mt-5">
        <!-- About Section -->
        <section class="mb-5">
            <h2>About Us</h2>
            <p>Welcome to Nguyen the Dai bolg, where we are dedicated to providing top-quality products and exceptional service.</p>
            <p>Founded in 2024, our team is passionate about my blog. Whether you're looking for mention types of products or services offered, we have something for everyone, drives everything we do.</p>
            <p>Thank you for visiting our website. We hope you find what you're looking for and look forward to serving you!</p>
        </section>
    </main>