@import 'variables';
body {
    overflow: auto; /* Hoặc `overflow-y: auto;` để chỉ cuộn theo chiều dọc */
}
main {
    height: 2000px; /* Tạo nội dung dài hơn chiều cao của màn hình */
}
header {
    background-color: rgb(237, 28, 36);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
footer{
    all: unset;
    margin: 0px;
    width: 1140px;
    //position: relative;
    top: 300px;
}
#container{
    width: 1160px;
    margin: 0;
    background-color: #efeeee;
    margin: 30px 180px;
    /* width: 800px; */
    height: 360px;
    background-color: #fff;
    display: inline-block;
    position: relative;
    top: 200px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    color: #000;
    border-radius: 6px;
}
